<div class="panel panel-default">
    <div class="panel-heading clearfix" >
        <h4><strong>{{ contact.name }}</strong></h4>
        <div>
            <div class="pull-left">
                <img src="{{ contact.imageUrl }}" alt="{{ contact.name }}" style="height: 100px;">
            </div>
            <div class="btn-group pull-right">
                <a style="cursor: pointer" class="btn btn-primary btn-sm" (click)="onEditContact()">Edit</a>
                <a style="cursor: pointer" class="btn btn-danger btn-sm">Delete</a>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <div class="row">
            <div class="col-xs-12">
                <table class="table">
                    <tr>
                        <td><strong>Email: </strong></td>
                        <td>{{ contact.email }}</td>
                    </tr>
                    <tr>
                        <td><strong>Phone: </strong></td>
                        <td>{{ contact.phone }}</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
  </div>